html,
body,
header,
.view {
    height: 100%;
}

.view {
    background: url('../img/HD-creative-pictures.jpg') no-repeat center center fixed;
    background-size: cover;
}

.brand-style {
    font-family:'Lobster', cursive !important;
    font-size: 25px;
}

h2 {
    font-family:'Lobster', cursive !important;
}

.top-nav-collapse {
    background: linear-gradient(45deg, rgba(255,110,196,1) 0%, rgba(120,115,245,1) 85%);
}